.inline-radio label {
    width: 45%;
    padding: 10px;
    margin: 5px;
    border: 1px solid;
    text-align: center;
    color: #f4c188;
    cursor: pointer;
}

input[type="radio"]:checked + label {
    background: #f4c188;
    color: white;
    border: none;
    font-weight: bold;
}

.inline-radio input {
    position: absolute;
    left: -999999px;
}

.btn-transparent {
    background: transparent;
}